{% extends 'base.html' %}

{% block title %}Agregar Tiquete{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Agregar Tiquete</h2>
    <form method="post" class="p-4 shadow-sm rounded bg-light">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'listar_tiquetes' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
